<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <title>Add a Recipe</title>
</head>
<body>
    <style>
        .label, .input {
            border-radius: 5px;
            /* border: 1px solid black; */
            margin: 5px 0px 5px 0px;
            padding: 5px;
            display: grid;
        }
        .input {
            width: 50vw;
        }
        h1 {
            display: grid;
            justify-content: center;
        }
        p {
            font-size: small;
        }
        .cancel {
            text-decoration: none;
            color: white;
            padding: 0px 5px 0px 5px;
            cursor: pointer;
        }
    </style>

    <h1>Add a Recipe</h1>
    <form class="form" action="/recipes/add" method="POST">
        <div class="inputFields">
            <label class="label" for="title">Title* :</label>
            <input class="input" type="text" name="title" required />
            <label class="label" for="ingredients">Ingredients* :</label>
            <input class="input" type="text" name="ingredients" required />
            <label class="label" for="imgURL">Link to Image:</label>
            <input class="input" type="text" name="imgURL" />
            <label class="label" for="directionsURL">Link to Directions* :</label>
            <input class="input" type="text" name="directionsURL" required />
            <label class="label" for="allergens">Allergens* :</label>
            <input class="input" type="text" name="allergens" required />
            <p>* Required Field</p>
        </div>
        <input class="submit" type="submit" />
    </form>
    <button><a class= "cancel" href="/recipes">Cancel</a></button>
    
</body>
</html>