<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <title>Add a Recipe</title>
</head>
<body>
    <style>
        .label, .input {
            border-radius: 5px;
            /* border: 1px solid black; */
            margin: 5px 0px 5px 0px;
            padding: 5px;
            display: grid;
        }
        .input {
            width: 50vw;
        }
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Fontdiner Swanky', cursive;
            color: rgb(156, 13, 13);
            text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px red,
            0 0 82px red,
            0 0 92px red,
            0 0 102px red,
            0 0 151px red;
        }

        p {
            font-size: small;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .cancel {
            text-decoration: none;
            color: white;
            padding: 0px 5px 0px 5px;
            cursor: pointer;
        }
        .submit {
            margin-right: 10px;
        }

        .buttons {
            display: block;
        }
        .label, h3 {
            font-family: sans-serif;
            font-size: 18px;
        }
        .allergenLabel{
            font-family: sans-serif;
        }

    </style>

    <h1>Add a Recipe</h1>
    <form class="form" action="/recipes/add" method="POST">
        <div class="inputFields">
            <label class="label" for="title">Title* :</label>
            <input class="input" type="text" name="title" required />
            <label class="label" for="ingredients">Ingredients* :</label>
            <input class="input" type="text" name="ingredients" required />
            <label class="label" for="imageURL">Link to Image:</label>
            <input class="input" type="text" name="imageURL" />
            <label class="label" for="directionsURL">Link to Directions* :</label>
            <input class="input" type="text" name="directionsURL" required />
            <p class="label">Allergens*:</p>
            <div class="checkboxes"></div>
                <input type="checkbox" id="gluten" name="allergensContained" value="gluten">
                <label class="allergenLabel" for="gluten">Gluten</label><br>
                <input type="checkbox" id="dairy" name="allergensContained" value="dairy">
                <label class="allergenLabel" for="dairy">Dairy</label><br>
                <input type="checkbox" id="eggs" name="allergensContained" value="eggs">
                <label class="allergenLabel" for="eggs">Eggs</label><br>
                <input type="checkbox" id="peanuts" name="allergensContained" value="peanuts">
                <label class="allergenLabel" for="peanuts">Peanuts</label><br>
                <input type="checkbox" id="treeNuts" name="allergensContained" value="tree nuts">
                <label class="allergenLabel" for="treeNuts">Tree Nuts</label><br>
                <input type="checkbox" id="soy" name="allergensContained" value="soy">
                <label class="allergenLabel" for="soy">Soy</label><br>
                <input type="checkbox" id="shellfish" name="allergensContained" value="shellfish">
                <label class="allergenLabel" for="shellfish">Shellfish</label><br>
                <input type="checkbox" id="fish" name="allergensContained" value="fish">
                <label class="allergenLabel" for="fish">Fish</label><br>
                <input type="checkbox" id="sesame" name="allergensContained" value="sesame">
                <label class="allergenLabel" for="sesame">Sesame</label><br>
        </div>
        <p>* Required Field</p>
        <div class="buttons">
        <input class="submit" type="submit" />
    </form>
    <button><a class= "cancel" href="/recipes">Cancel</a></button>
        </div>
    
</body>
</html>