<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <!-- <style>
        img {
            height: 20vh;
            width: 20vw;
            border-radius: 20px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .cardsContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
        }

        .recipeCards{
            text-align: center;
            margin: 15px;
        }

        .buttons {
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        button {
            margin: 5px;
        } -->
    <!-- </style> -->
    <div class="cardsContainer">
        <%searchResults.forEach(resultRecipe => {%>
            <div class="recipeCards">
                <a href="/recipes/<%=resultRecipe.id%>">
                    <img src="<%=resultRecipe.imageURL%>">
                </a>
            </div>
            <div class="recipeTitle">
                <a href="/recipes/<%=resultRecipe.id%>">
                    <h3><%=resultRecipe.title%></h3>
                </a>
            </div>
        <%})%>
    </div>
    <div class="buttons">
        <button class="button"><a href="/recipes">Home</a></button>
        <button class="button"><a href="/recipes/allergenFilter">Back</a></button>
    </div>
</body>
</html>