<body>
    <h1>Allergen Filter</h1>
    <div class="content">
        <h3>Select which you are allergic to:</h3>
        <form role="search" class="form" action="/recipes/allergenFilterResults" method="POST">
            <input type="checkbox" id="gluten" name="allergensContained" value="gluten">
            <label for="gluten">Gluten</label><br>
            <input type="checkbox" id="dairy" name="allergensContained" value="dairy">
            <label for="dairy">Dairy</label><br>
            <input type="checkbox" id="eggs" name="allergensContained" value="eggs">
            <label for="eggs">Eggs</label><br>
            <input type="checkbox" id="peanuts" name="allergensContained" value="peanuts">
            <label for="peanuts">Peanuts</label><br>
            <input type="checkbox" id="treeNuts" name="allergensContained" value="tree nuts">
            <label for="treeNuts">Tree Nuts</label><br>
            <input type="checkbox" id="soy" name="allergensContained" value="soy">
            <label for="soy">Soy</label><br>
            <input type="checkbox" id="shellfish" name="allergensContained" value="shellfish">
            <label for="shellfish">Shellfish</label><br>
            <input type="checkbox" id="fish" name="allergensContained" value="fish">
            <label for="fish">Fish</label><br>
            <input type="checkbox" id="sesame" name="allergensContained" value="sesame">
            <label for="sesame">Sesame</label><br>
            <div class="buttons">
                <input class="submit button" type="submit" />
            </form>
            <button class="button"><a class= "cancel" href="/recipes">Cancel</a></button>
                </div>
    </div>
    </body>
</html>