<body>
    <div class="sidebar">
        <a href="/recipes/add">Add a Recipe</a>
        <a href="/recipes/ingredientSearchForm">Search by Ingredients</a>
        <a href="/recipes/allergenFilter">Allergen Filter</a>
    </div>
    <div class="main">  
        <h1>What's for Dinner?</h1>
        <div class="cardsContainer">
            <%recipes.forEach(indexRecipe => {%>
                <div class="recipeCards">
                    <div class="recipeImage">
                        <a href="/recipes/<%=indexRecipe.id%>"><img src="<%=indexRecipe.imageURL%>"></a>
                    </div>
                    <div class="recipeTitle">
                        <a href="/recipes/<%=indexRecipe.id%>"><h3><%=indexRecipe.title%></h3></a>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
</body>
</html>