<body>
    <div class="sidebar">
        <a href="/recipes/add">Add a Recipe</a>
        <a href="/recipes/ingredientSearchForm">Search by Ingredients</a>
        <a href="/recipes/allergenFilter">Allergen Filter</a>
    </div>
    <div class="indexMain">  
        <h1>What's for Dinner?</h1>
        <div class="cardsContainer">
            <%let length = recipes.length%>
            <%let indexArray = Array.from({length: length}, (_, index) => index)%>
            <%function shuffle(array) {%>
                <%let arrayLength = array.length;%>
            
               <% while (arrayLength > 0) {%>
                    <%let index = Math.floor(Math.random() * arrayLength);%>
    
                    <%arrayLength--;%>
            
                    <%let temp = array[arrayLength];%>
                    <%array[arrayLength] = array[index];%>
                    <%array[index] = temp;%>
                <%}%>

                <%return array;%>
            <%}%>
            <%shuffle(indexArray)%>

            <%for (i=0; i< 4; i++){%>
                <div class="recipeCards">
                    <div class="recipeImage">
                        <a href="/recipes/<%=recipes[indexArray[i]].id%>">
                            <img src="<%=recipes[indexArray[i]].imageURL%>">
                        </a>
                    </div>

                    <div class="recipeTitle">
                        <a href="/recipes/<%=recipes[indexArray[i]].id%>">
                            <h3><%=recipes[indexArray[i]].title%></h3>
                        </a>
                    </div>
                </div>
            <%}%>
    </div>
</body>
</html>