<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <style>
        img {
            height: 20vh;
            width: 20vw;
            border-radius: 20px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    </style>
    <div class="cardsContainer">
        <%searchResults.forEach(resultRecipe => {%>
            <div class="recipeCards">
                <a href="/recipes/<%=resultRecipe.id%>"><h3><%=resultRecipe.title%></h3></a>
                <a href="/recipes/<%=resultRecipe.id%>"><img src="<%=resultRecipe.imageURL%>"></a>
            </div>
        <%})%>
    </div>
</body>
</html>