<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <title>Search by Ingredients</title>
</head>
<body>
    <style>
        h1 {
            text-align: center;
            font-family: 'Fontdiner Swanky', cursive;
            color: rgb(156, 13, 13);
            text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px red,
            0 0 82px red,
            0 0 92px red,
            0 0 102px red,
            0 0 151px red;
        }

        form, button{
            font-family: sans-serif;
            display: inline-block;
        }
        button {
            margin-left: -45vw;
        }

        .label, .input {
            border-radius: 5px;
            /* border: 1px solid black; */
            margin: 5px 0px 5px 0px;
            padding: 5px;
            display: grid;
        }
        .input {
            width: 50vw;
        }

        #result {
            padding: 3px;
        }
        
        #result ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #result ul li {
            padding: 5px 0;
        }

        #result ul li:hover {
            background: #eee;
        }
    </style>
    <h1>Search by Ingredients</h1>
    <div class="formAndButton">
        <form autocomplete="off" role="search" class="form" action="/recipes/ingredientSearchResults" method="POST">
            <label class="label" for="ingredients">Ingredients you want to use:</label>
            <input class="input" id="inputField" type="text" name="ingredients" value="" placeholder="Example: chicken breast, yellow onion, baby spinach" onKeyUp="showResults(this.value)" />
            <div id="result"></div>
            <input class="button" id="ingredientSearchSubmit" type="submit" />
        </form>
            <button class="button"><a href="/recipes">Cancel</a></button>
    </div>
    <script>
        let searchTerms = [
            "baby spinach", "sundried tomatoes in olive oil", "yellow onion",
            "chicken breast", "garlic cloves", "linguine", "italian seasoning", "salt",
            "ground black pepper", "crushed red pepper flakes", "chicken stock",
            "chardonnay", "shredded parmesan", "olive oil", "chili powder", "dried oregano",
            "tomato paste", "chipotle chiles en adobo", "ground turkey", "mexican lager style beer",
            "canned whole peeled tomatoes", "canned kidney beans", "italian dressing",
            "cream cheese", "dried pasta", "ketchup", "apple cider vinegar", "paprika",
            "garlic powder", "mustard powder", "cumin", "pork shoulder", "potatoes", "mayonnaise",
            "dill pickle relish", "celery salt", "dijon mustard", "hard-boiled eggs", "celery stalks",
            "red onion", "smoked paprika", "chicken thighs", "ranch dressing mix", "cheddar cheese",
            "bacon", "green onions"
        ];

        //source: https://www.algolia.com/blog/engineering/how-to-implement-autocomplete-with-javascript-on-your-website/
        //I spoke to Jeremy about this code. I do understand what it is doing,
        // but he suggested I cite my source since we've not covered RegExp in class
        function autocomplete(input) {
            if (input == '') {
                return [];
            } else if (input.slice(-2) == ", ") {
                let fieldValue = document.getElementById('inputField').value
                let secondTerm = fieldValue.split(', ')
                console.log(secondTerm[1])
                let reg = new RegExp(secondTerm)
                return searchTerms.filter( (term) => {
                    if (term.match(reg)) {
                        return term;
                    }
                })
            }  else {
                let reg = new RegExp(input)
                return searchTerms.filter( (term) => {
                    if (term.match(reg)) {
                    return term;
                    }
                });
            }
        }

        // function secondTerm(input) {
        //     let fieldValue = document.getElementById('inputField').value
        //     console.log(fieldValue)
        //     if (fieldValue.slice(-2) == ", ") {
        //         let secondTermInput = fieldValue.split(', ')
        //         autocomplete(secondTermInput)
        //     }
        // }
  
        function showResults(value) {
            result = document.getElementById("result");
            result.innerHTML = '';
            let list = '';
            let terms = autocomplete(value);
            for (i=0; i<terms.length; i++) {
                list += '<li>' + terms[i] + '</li>';
            }
            result.innerHTML = '<ul>' + list + '</ul>';
            for (i=0; i<terms.length; i++) {
                let terms = autocomplete(value)
                document.querySelectorAll('li')[i].addEventListener('click', (event) => {
                // console.log(event.target.innerText)
                document.getElementById('inputField').value = event.target.innerText

                })
            }
        }
        
    </script>
    
</body>
</html>