<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by Ingredients</title>
</head>
<body>
    <h1>Search by Ingredients</h1>
    <form>
        <div class="inputFields">
            <label class="label" for="ingredients">Ingredients you want to use:</label>
            <input class="input" type="text" name="ingredients" value="" />
        </div>
    </form>
    <button><a style="text-decoration:none; color:white;" href="/recipes">Home</a></button>
    
</body>
</html>