<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by Ingredients</title>
</head>
<body>
    <style>
        #result {
            padding: 3px;
        }
        
        #result ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #result ul li {
            padding: 5px 0;
        }

        #result ul li:hover {
            background: #eee;
        }
    </style>
    <h1>Search by Ingredients</h1>
    <form autocomplete="off" role="search" class="form" action="/recipes/ingredientSearchResults" method="POST">
        <div class="inputField">
            <label class="label" for="ingredients">Ingredients you want to use:</label>
            <input class="input" type="text" name="ingredients" placeholder="Example: chicken, onion, spinach" onKeyUp="showResults(this.value)" />
            <div id="result"></div>
            <input class="submit" type="submit" />
        </div>
    </form>
    <script>
        let searchTerms = [
            "baby spinach", "sundried tomatoes in olive oil", "yellow onion",
            "chicken breast", "garlic cloves", "linguine", "italian seasoning", "salt",
            "ground black pepper", "crushed red pepper flakes", "chicken stock",
            "chardonnay", "shredded parmesan", "olive oil", "chili powder", "dried oregano",
            "tomato paste", "chipotle chiles en adobo", "ground turkey", "mexican lager style beer",
            "canned whole peeled tomatoes", "canned kidney beans", "italian dressing",
            "cream cheese", "dried pasta", "ketchup", "apple cider vinegar", "paprika",
            "garlic powder", "mustard powder", "cumin", "pork shoulder", "potatoes", "mayonnaise",
            "dill pickle relish", "celery salt", "dijon mustard", "hard-boiled eggs", "celery stalks",
            "red onion", "smoked paprika", "chicken thighs", "ranch dressing mix", "cheddar cheese",
            "bacon", "green onions"
        ];

        //source: https://www.algolia.com/blog/engineering/how-to-implement-autocomplete-with-javascript-on-your-website/
        //I spoke to Jeremy about this code. I do understand what it is doing,
        // but he suggested I cite my source since we've not covered RegExp in class
        function autocomplete(input) {
            if (input == '') {
                return [];
            }
            let reg = new RegExp(input)
            return searchTerms.filter(function(term) {
                if (term.match(reg)) {
                return term;
                }
            });
        }
  
        function showResults(value) {
            result = document.getElementById("result");
            result.innerHTML = '';
            let list = '';
            let terms = autocomplete(value);
            for (i=0; i<terms.length; i++) {
                list += '<li>' + terms[i] + '</li>';
            }
            result.innerHTML = '<ul>' + list + '</ul>';
        }
    </script>
    <button><a style="text-decoration:none; color:white;" href="/recipes">Cancel</a></button>
    
</body>
</html>