/* EVERY PAGE */
body {
    background: url('https://i.imgur.com/NGSNp47.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fontdiner Swanky', cursive;
    color: rgb(156, 13, 13);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.cardsContainer img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
}

/* INDEX.EJS */
.sidebar {
    height: 100%; 
    width: 140px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(156, 13, 13); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
    font-family: 'Cherry Cream Soda', cursive;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: silver;
    display: block;
}

  
.sidebar a:hover {
    color: #f1f1f1;
}

.recipeTitle {
    font-size: small;
    max-width: 150px;
    text-align: center;
}

#randomRecipeButton {
    margin-left: 20px;
}



/* EACH.EJS */
.eachContent {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleAndImage{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}

.titleAndImage img {
    height: 50vh;
    width: 40vw;
    border-radius: 20px;
}

.ingredientsAllergensSeeAlso {
    display: inline-flex;
    margin-left: 10px;
    align-items: center;
}

.ingredientsAllergensSeeAlso li {
    padding: 0;
    margin: -10px;
}

.allergensSeeAlso {
    padding-left:40px;
}

.button {
    color: white;
    background-color: grey;
    border-radius: 5px;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
}

.buttonsContainer button, form {
    margin: 5px;
}

/* ADD.EJS */
.label, .input {
    border-radius: 5px;
    /* border: 1px solid black; */
    margin: 5px 0px 5px 0px;
    padding: 5px;
    display: grid;
}

.input {
    width: 50vw;
}

#requiredField {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cancel {
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}
.submit {
    margin-right: 10px;
}

.buttons {
    display: block;
}
.label, h3 {
    font-family: sans-serif;
    font-size: 18px;
}
.allergenLabel{
    font-family: sans-serif;
}

/* ALLERGEN FILTER RESULTS .EJS */
#allergenCardsContainer {
    display: flex;
    flex-direction: column;
}
  
@media screen and (max-width: 600px) {
    .sidebar {
        padding-top: 15px;
        width: 100px;
    }
    .sidebar a {
        font-size: 12px;
    }

    .titleAndImage img {
        height: 20vh;
        width: 20vw;
        border-radius: 20px;
    }
    .indexMain {
        margin-left: 30vw;
        /* padding: 60px 10px; */
        /* padding: 10% 10% 20%; */
        align-items: center;
        justify-content: center;
        /* align-items: stretch; */
    }
    .indexMain h1{
        font-size: 25px;
    }

    .cardsContainer{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    #ingredientSearchSubmit {
        margin-right: 1px;
    }
}


